/* AB模版网 做最好的织梦整站模板下载网站 */
/* 网址：Www.AdminBuy.Cn */
/* 图标大全：Sc.AdminBuy.Cn 专业建站素材网站 */
/* QQ：9490489 */

@charset "utf-8";
/* CSS Document */
* {
    transition: all .5s;
}
.bannerBox {
    width: 100%;
    height: 420px;
}
#flashs {
    position: relative;
    height: 420px;
    overflow: hidden;
}
#flashs .bgitem {
    z-index: 1;
    position: absolute;
    top: 0;
}
#flashs .btn {
    position: absolute;
    z-index: 7;
    bottom: 5px;
    left: 50%;
    margin-left: -45px;
    padding: 0px 6px;
}
#flashs .btn span {
    color: #fff;
    background: #202932;
    cursor: pointer;
    display: inline-block;
    margin: 0 2px;
    width: 25px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}
#flashs .btn span.cur {
    background: #008CE1;
}
.mainContent {
    padding-bottom: 20px;
    background: url(../images/maincontent.png) repeat center top;
}
/*搜索*/
.search {
    position: relative;
    background: #FFF;
    height: 90px;
    overflow: hidden;
}
.search .searchBox {
    margin: 24px 0 14px 10px;
    width: 456px;
    overflow: hidden;
    float: left
}
.search .soText {
    float: left;
    width: 350px;
    height: 21px;
    line-height: 21px;
    padding: 8px 10px 8px 46px;
    color: #333;
    border: none;
    background: url(../images/searchtxt.png) no-repeat center;
    outline: none;
}
.search .soBtn {
    float: right;
    width: 50px;
    height: 37px;
    border: none;
    background: url(../images/searchbtn.png) no-repeat left center;
}
.search .keyWord {
    float: left;
    display: block;
    margin-top: 28px;
    margin-left: 12px;
    line-height: 30px;
    width: 510px;
    height: 30px;
    overflow: hidden;
    color: #333;
}
.search .keyWord em {
    overflow: hidden;
}
.search .keyWord a {
    padding: 0 2px;
    color: #333;
}
.search .so_phone {
    position: absolute;
    right: 0;
    top: 56px;
    padding-left: 36px;
    background: url(../images/hdphoen_ico.png) no-repeat left center;
    color: #a1a1a1;
}
.search .so_phone dd {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #546a85;
}
/*案例*/
.alBox {
    height: 439px;
}
.alMu {
    width: 230px;
}
.alMu h4 {
    height: 34px;
    line-height: 34px;
    font-size: 16px;
}
.alMu h4 a {
    color: #fff;
}
.alMu ul {
    margin-top: 16px;
}
.alMu li {
}
.alMu li a {
    padding-left: 60px;
    color: #fff;
    display: block;
    background: url(../images/almu_ico.png) no-repeat 40px center;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
}
.alMu li a:hover, .alMu li cur a {
    background-image: url(../images/almu_icoh.png);
    background-position: 10px center;
    color: #546a85;
}
.alCont {
    width: 720px;
    overflow: hidden;
}
.alCont dt {
    width: 420px;
    height: 380px;
    border-right: 1px solid #e1e1e1;
}
.alCont dt img {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 2px;
}
.alCont dd {
    margin-left: 446px;
}
.alCont dd h5 {
    margin-bottom: 12px;
    height: 54px;
    line-height: 54px;
    font-size: 16px;
}
.alCont dd h5 a {
    color: #546a85;
}
.alCont dd p {
    margin-bottom: 14px;
    line-height: 24px;
height:;
    overflow: hidden;
}
.alCont dd .gyMore {
    padding-right: 18px;
    color: #546a85;
    background: url(../images/titmore_ico.png) no-repeat right center;
}
.cpSpan {
    margin-top: 22px;
    margin-bottom: 22px;
    padding-top: 10px;
    height: 644px;
    background-color: #fff;
    overflow: hidden;
}
.cpMu {
    margin-left: 10px;
    width: 210px;
    overflow: hidden;
}
.cpMu h4 {
    height: 54px;
    line-height: 54px;
    background: #008CE1 url(../images/cpmutit.png) no-repeat 36px center;
    text-align: center;
}
.cpMu h4 a {
    font-size: 16px;
    color: #fff;
}
.cpMu ul {
}
.cpMu li {
    background: url(../images/cpmuli_ico.png) no-repeat 176px center;
}
.cpMu li a {
    padding-left: 16px;
    margin: 0 6px;
    display: block;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px dotted #b2bcc8;
    font-size: 13px;
    color: #333;
    text-decoration: none;
}
.cpMu li:hover {
    background-color: #546a85;
}
.cpMu li:hover a {
    color: #fff;
}
.cpMuCont {
    margin-top: 2px;
    padding-bottom: 12px;
    border: 1px solid #e2e2e2;
}
.cpMuCont p {
    margin: 16px 8px;
    line-height: 22px;
    font-size: 13px;
    color: #546a85;
}
.cpMuCont .mu_phone {
    margin-left: 10px;
    padding-left: 36px;
    background: url(../images/hdphoen_ico.png) no-repeat left center;
    color: #546a85;
}
.cpMuCont .mu_phone dd {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-dropdown {
  position: absolute;
  z-index: 10000;
  display: none;
  width: 210px;
  border: 1px solid #e2e2e2;
  background-color: white;
}

.sub-dropdown li a {
    padding: 0 10px;
    margin: 0 6px;
    display: block;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px dotted #b2bcc8;
    font-size: 13px;
    color: #333;
    text-decoration: none;
}
.sub-dropdown li:hover, .cpMu li.cur {
    background-color: #546a85;
}
.sub-dropdown li:hover a, .cpMu li.cur a {
    color: #fff;
}

.cpList {
    margin-right: 10px;
    width: 760px;
    overflow: hidden;
}
.cpList h4 {
    margin: 8px 0;
    height: 38px;
    line-height: 38px;
    background: url(../images/conttitbg2.png) no-repeat left center;
}
.cpList h4 a {
    margin-left: 18px;
    color: #546a85;
}
.cpListCont {
}
.cpList dl {
    margin: 10px 3px 6px;
    float: left;
    width: 182px;
}
.cpList dl dt img {
    display: block;
    border: 1px solid #e5e5e5;
}
.cpList dl dd {
    height: 30px;
    overflow: hidden;
    text-align: center
}
.cpList dl dd h5 {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.cpList dl dd h5 a {
    color: #546a85;
}
.cpList dl dd p {
    line-height: 20px;
    height: 40px;
    font-size: 13px;
    overflow: hidden;
    color: #546a85;
}
.cpList dl dd div {
    margin-top: 16px;
    overflow: hidden;
}
.cpList dl dd div span {
    float: left;
    width: 50%;
    line-height: 22px;
    color: #767676;
}
.cpList dl dd div span em {
    position: relative;
    top: -1px;
    margin-right: 6px;
    color: #b0b0b0;
}
/*合作伙伴*/
.hzhb {
    margin-bottom: 22px;
    height: 166px;
    background-color: #fff;
    overflow: hidden;
}
.hzhb h4 {
    margin: 11px;
    height: 38px;
    line-height: 38px;
    background: url(../images/conttitbg2.png) no-repeat left center;
}
.hzhb h4 a {
    margin-left: 18px;
    color: #546a85;
}
.hzhb ul {
    margin: 18px auto 0 auto;
    width: 984px;
    overflow: hidden;
}
.hzhb li {
    margin: 0 10px;
    float: left;
    width: 144px;
    text-align: center;
}
/*优势*/
.ysBox {
    position: relative;
    height: 450px;
    background: url(../images/ysboxbg.jpg) no-repeat center;
}
.ysBox dl {
    position: absolute;
}
.ysBox dt {
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 16px;
    color: #546a85;
}
.ysBox dt b {
    position: absolute;
    left: -70px;
    top: 0;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    background-color: #546a85;
    font-size: 30px;
}
.ysBox dt b.lv {
    background-color: #008CE1;
}
.ysBox dd {
    line-height: 18px;
    font-size: 14px;
    color: #333;
    width: 190px;
}
.ysBox dd p {
    color: #ff5a00;
}
.ysBox .ys01 {
    left: 100px;
    top: 66px;
}
.ysBox .ys02 {
    left: 760px;
    top: 66px;
}
.ysBox .ys03 {
    left: 100px;
    top: 232px;
}
.ysBox .ys04 {
    left: 760px;
    top: 232px;
}
.slGgl img {
    display: block;
}
.ppys {
    position: relative;
}
.ppysCc {
    height: 418px;
    overflow: hidden;
}
.ppysCont img {
    display: block;
}
.ppysTab {
    position: absolute;
    left: 0;
    top: 382px;
    width: 100%;
}
.ppysTab ul {
    margin: 0 auto;
    width: 930px;
}
.ppysTab li {
    margin: 0 3px;
    float: left;
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #546a85;
    cursor: pointer;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.ppysTab li.cur, .ppysTab li:hover {
    background-color: #273e5b;
}
.ppysTab li b {
    font-size: 14px;
    color: #fff;
}
.ppysTab li b.ta1 {
    margin-top: 12px;
    line-height: 20px;
    display: inline-block;
}
.contTit {
    position: relative;
    height: 56px;
    line-height: 56px;
    background: url(../images/conttitbg.png) no-repeat left center;
}
.contTit .titA {
    margin-left: 18px;
    color: #546a85;
    font-size: 14px;
}
.contTit .titMore {
    position: absolute;
    right: 14px;
    top: 0px;
    padding-right: 18px;
    font-size: 12px;
    font-weight: normal;
    color: #546a85;
    background: url(../images/titmore_ico.png) no-repeat right center;
}
/*海普润机械更懂您*/
.gdn {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 24px;
}
.gdn ul {
    margin: 0 auto;
    padding: 18px 0;
    width: 984px;
    overflow: hidden;
}
.gdn li {
    margin: 0 9px;
    float: left;
    width: 228px;
    text-align: center;
}
.gdn li img {
    padding: 4px;
    border: 1px solid #d2d2d2;
}
.gdn li h5 {
    margin-top: 12px;
    font-weight: normal;
}
.gdn li h5 a {
    color: #333;
}
.ktSpan {
    margin-bottom: 20px;
}
/*客户见证*/
.khjz {
    width: 676px;
    height: 476px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.khjz .khCont {
    margin-top: 16px;
    overflow: hidden;
}
.khjz dl {
    margin: 0 22px 28px 22px;
    height: 174px;
    overflow: hidden;
}
.khjz dd {
    margin-left: 250px;
}
.khjz dd h5 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.khjz dd h5 a {
    color: #273e5b;
}
.khjz dd p {
    margin-bottom: 16px;
    line-height: 22px;
    color: #333;
    height: 110px;
    overflow: hidden;
}
.khjz dd .btnGd {
    padding-right: 18px;
    color: #546a85;
    background: url(../images/titmore_ico.png) no-repeat right center;
}
.tdBox {
    width: 306px;
    height: 476px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.tdBox ul {
    margin: 10px auto;
    width: 274px;
    text-align: center;
}
.tdBox ul li {
    margin-top: 20px;
    position: relative;
}
.tdBox ul li h5 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 34px;
    line-height: 34px;
    background: url(../images/tdh5_ico.png);
    font-weight: normal;
}
.tdBox ul li h5 a {
    color: #fff;
}
/*广告栏*/
.ggl {
    position: relative;
}
.ggl img {
    display: block;
}
.ggl span {
    position: absolute;
    left: 820px;
    top: 70px;
    font-size: 22px;
    font-weight: bold;
    color: #546a85;
}
.gcSpan {
    margin-top: 23px;
    margin-bottom: 23px;
}
/*关于*/
.gyBox {
    width: 676px;
    height: 486px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.gyCont {
}
.gyBox dl {
    margin: 18px;
    height: 206px;
    overflow: hidden;
}
.gyBox dd {
    margin-left: 304px;
}
.gyBox dd h5 {
    margin-bottom: 12px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
}
.gyBox dd h5 a {
    color: #546a85;
}
.gyBox dd p {
    margin-bottom: 14px;
    line-height: 22px;
    height: 132px;
    overflow: hidden;
}
.gyBox dd .gyMore {
    padding-right: 18px;
    color: #546a85;
    background: url(../images/titmore_ico.png) no-repeat right center;
}
.gyBox .cjBox {
    margin: 0 18px;
}
.gyBox .cjBox .cjTit {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}
.gyBox .cjBox .cjTit a {
    color: #546a85;
}
.gyBox .cjBox ul {
    margin: 18px auto 0 auto;
    width: 664px;
    overflow: hidden;
}
.gyBox .cjBox li {
    margin-right: 16px;
    float: left;
    width: 146px;
    text-align: center;
}
.gyBox .cjBox li h5 {
    margin-top: 10px;
    font-weight: normal;
}
.gyBox .cjBox li h5 a {
    color: #333;
}
/*问题解答*/
.wtjd {
    width: 306px;
    height: 486px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.wtjdCont {
    margin-top: 26px;
    height: 392px;
    overflow: hidden;
}
.wtjdCont dl {
    margin: 0 16px;
    margin-bottom: 26px;
    border: 1px dashed #030303;
}
.wtjdCont dt {
    background-image: url(../images/tw_ico.png);
}
.wtjdCont dt a {
    color: #333;
}
.wtjdCont dd {
    line-height: 20px;
    background-image: url(../images/jd_ico.png);
    color: #333;
}
.wtjdCont dt, .wtjdCont dd {
    padding: 2px 14px 2px 34px;
    margin: 4px 0;
    line-height: 22px;
    background-position: 8px 4px;
    background-repeat: no-repeat;
}
/*加盟直通车*/
.jmztc {
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
.ztcCont {
    overflow: hidden;
}
.ztcCont img {
    float: left;
}
.dySpan {
    margin-bottom: 22px;
}
/*动态*/
.dtBox {
    width: 418px;
    height: 378px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.dtTab {
    overflow: hidden;
    background: url(../images/dttit.png) repeat-x center;
}
.dtTab span {
    float: left;
    width: 50%;
    height: 56px;
    line-height: 56px;
    color: #546a85;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.dtTab span.cur, .dtTab span:hover {
    background: url(../images/conttitbg.png) no-repeat left center;
}
.dtBox dl {
    margin: 14px;
    height: 102px;
    overflow: hidden;
}
.dtBox dd {
    margin-left: 166px;
}
.dtBox dd h5 {
    height: 32px;
    line-height: 32px;
    font-weight: normal;
    font-size: 13px;
    overflow: hidden;
}
.dtBox dd h5 a {
    color: #273e5b;
}
.dtBox dd p {
    line-height: 22px;
    color: #333;
}
.dtBox ul {
    margin: 0 14px;
}
.dtBox li {
    position: relative;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px dashed #b3b3b3;
}
.dtBox li a {
    display: inline-block;
    padding-left: 12px;
    background: url(../images/dtliico.png) no-repeat left center;
    width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}
.dtBox li span {
    position: absolute;
    right: 0;
    top: 0;
}
/*在线留言*/
.lyBox {
    width: 566px;
    height: 378px;
    border: 1px solid #ddd;
    background: #fff url(../images/lyboxbg.jpg) no-repeat right 57px;
}
.lyCont {
    position: relative;
    overflow: hidden;
}
.lyCont .fPhone {
    position: absolute;
    left: 400px;
    top: 268px;
    font-size: 24px;
    color: #546a85;
}
.lyCont .m_form {
    margin-top: 20px;
    margin-left: 20px;
}
.lyCont .m_form li {
    margin-bottom: 4px;
    overflow: hidden;
}
.lyCont .m_form label {
    float: left;
    width: 36px;
    height: 30px;
    border: 1px solid #546a85;
    border-right-width: 0;
    text-align: center;
    background-color: #546a85;
}
.lyCont .m_form .areLi label {
    height: 104px;
}
.lyCont .m_form label img {
    position: relative;
    top: 7px;
}
.lyCont .m_form .iptTxt {
    float: left;
    width: 290px;
    border: 1px solid #546a85;
    height: 14px;
    line-height: 14px;
    padding: 8px 10px;
    outline: none;
    color: #fff;
    background-color: #546a85;
    font-family: microsoft yahei;
    border-left-color: #63768e;
}
.lyCont .m_form .txtAre {
    float: left;
    width: 290px;
    height: 94px;
    line-height: 20px;
    border: 1px solid #546a85;
    outline: none;
    resize: none;
    color: #fff;
    padding: 5px 10px;
    background-color: #546a85;
    font-family: microsoft yahei;
    border-left-color: #63768e;
}
.lyCont .m_form .btnSubmit {
    margin-top: 8px;
    width: 125px;
    height: 46px;
    cursor: pointer;
    border: none;
    background: url(../images/btnsubmit.png) no-repeat center;
}
