<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安装程序 - 欢迎访问AB模板网获得更多网站模板</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="header">
<div class="min_box">
<div class="logo">
<a href="/" hidefocus><img src="/install/images/install_unn114.png" alt="企业邮箱"></a>
</div>
<div class="setinfo" >
<a href="http://www.adminbuy.cn" target="_blank" class="sign_up" hidefocus>织梦模板</a>
<a href="http://sc.adminbuy.cn" target="_blank" class="sign_up" hidefocus>图标下载</a>
<a href="http://dh.adminbuy.cn" target="_blank" class="sign_up" hidefocus>站长导航</a>
<a href="http://fang.adminbuy.cn" target="_blank" class="sign_up" hidefocus>仿站网</a>
</div>
</div>
</div>
</header>

<div class="main">
	<div class="pleft">
		<dl class="setpbox t1">
			<dt>安装步骤</dt>
			<dd>
				<ul>
					<li class="succeed">许可协议</li>
					<li class="succeed">环境检测</li>
					<li class="succeed">参数配置</li>
					<li class="succeed">正在安装</li>
					<li class="now">安装完成</li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="pright">
		<div class="pr-title"><h3>安装完成</h3></div>
		<div class="install-msg">
			AB模板网恭喜您!已成功安装织梦内容管理系统.您现在可以:
			<br />
			<?php echo $errmsg; ?>
		</div>
		<div class="over-link fs-14">
			<a href="../" target="_blank">访问网站首页</a>
			<a href="../dede" target="_blank">登录网站后台</a>
			<a href="http://www.adminbuy.cn" target="_blank">更多模板</a>
            </div>
	</div>
</div>

<div class="foot">
</div>

</body>
</html>
